<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SooBook</title>
  </head>
  <body>
    <h2>개인 도서 서비스 수북(SooBook)</h2>
    <div>
      <p>
        <a href="https://pinstinct.gitbooks.io/soobook-api/content/">수북 API</a>를 사용할 수 있습니다.
      </p>
    </div>
  </body>
</html>